@{
    ViewData["Title"] = "Catalog";
}

@model BooksViewModel

<div class="container">

    @foreach (Book book in Model.Books)
    {
        <partial name="BookSummary" model="book" />
    }
</div>
<div class="container">
    <div page-nav="@Model.PageInfo" page-action="Index"></div>
</div>
